body {
    
    background-color: dodgerblue;
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: whitesmoke;
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h3{
    text-align: center;
    font-size: 30pt;
    margin-bottom: 20px;
}
h4{
    margin-bottom:15px;
    margin-top:15px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    
}


dl, dd{
    font-size: 20px;
    text-align: center;

}

li{
    font-size: 20px;
    list-style: none;

}