body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

a {
    color: #3e31ec;
    text-decoration: none;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #303030;
    background-color: aliceblue;
}

img {
    height: 250px;
    width: 250px;
}

p:first-letter {
    font-size: 150%;
}

a:hover {
    text-decoration: underline;
}